html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1266px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  font-size: 37px;
  font-weight: 400;
  margin-bottom: 23px;
  background-image: linear-gradient(to right,red,#3170ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.text {
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: rgba(255,255,255,.6);
}

/* Header */
.header {
  background-color: #212121;
  position: relative;
}

.header__top {
  height: 40px;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.header__top-nav {
  height: 100%;
}

.header__top-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__top-item + .header__top-item {
  margin: 0 0 0 40px;
  position: relative;
}

.header__top-item + .header__top-item::before,
.header__top-signup::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 12px;
  background-color: #424242;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
}

.header__top-link,
.header__top-signup,
.header__top-signin {
  font-size: 11px;
  font-family: sans-serif;
  color: #b0b0b0;
}

.header__top-link:hover,
.header__top-signup:hover,
.header__top-signin:hover {
  color: #fff;
}

.header__top-external-entries {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.header__top-signup {
  position: relative;
  margin-left: 40px;
}

.header__middle {
  height: 88px;
  background-color: #fff;
}

.header__middle-inner {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.header__middle-logo {
  background-color: #ff6900;
  width: 56px;
  height: 56px;
  border-radius: 21px;
  overflow: hidden;
}

.header__middle-img {
  transform: translateX(-56px);
  transition: transform .2s linear;
}

.header__middle-logo:hover .header__middle-img {
  transform: translateX(0);
}

.header__middle-nav {
  height: 100%;
}

.header__middle-list {
  display: flex;
  height: 100%;
  align-items: center;
}

.header__middle-item + .header__middle-item {
  margin-left: 50px;
}

.header__middle-link {
  font-size: 13px;
  font-weight: 600;
  font-family: sans-serif;
  color: #616161;
  transition: color .4s linear;
}

.header__middle-link:hover {
  color: #ff6700;
}

.header__bottom {
  height: 60px;
  background-color: #f5f5f5;
}

.header__bottom-inner {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.header__bottom-title {
  font-size: 23px;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 60px;
  color: #333;
}

.header__bottom-nav {
  height: 100%;
}

.header__bottom-list {
  display: flex;
  height: 100%;
  align-items: center;
}

.header__bottom-item + .header__bottom-item {
  margin-left: 32px;
}

.header__bottom-link {
  font-size: 13px;
  font-family: sans-serif;
  color: #333;
}

.active-link {
  color: #8c8c8c;
  cursor: default;
}

.header__products {
  height: 245px;
  width: 100%;
  position: absolute;
  top: 128px;
  background-color: #fff;
  border-top: 1px solid #eee;
  opacity: 0;
  z-index: -1;
  transition: opacity .3s linear, z-index .2s linear;
}

.header__products-items {
  display: flex;
  height: 100%;
  align-items: center;
}

.header__products-item {
  width: 205px;
  text-align: center;
}

.header__products-item-text {
  font-size: 15px;
  color: #424242;
  line-height: 18px;
}

/* overview */
.overview {
  background-image: url("../images/overview/overview-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 300px;
  padding-bottom: 400px;
}

.overview__info {
  max-width: 500px;
  width: 100%;
  margin-left: auto;
}

.overview__info-title {
  font-size: 54px;
  font-weight: 600;
  color: #fff;
}

.overview__info-subtitle {
  font-size: 25px;
  font-weight: 400;
  color: #fff;
  margin: 50px 0 25px;
}

.overview__info-text {
  font-size: 19px;
  line-height: 28px;
  color: #757575;
  display: inline-block;
}

/* Feature */
.feature {
  padding: 40px 0 50px;
  background-color: #000;
}

.feature__items {
  display: flex;
  flex-wrap: wrap;
  max-width: 930px;
  width: 100%;
  margin: 0 auto;
}

.feature__item {
  width: 216px;
  height: 179px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 7.5px 20px 7.5px;
}

.feature__item-info {
  width: 190px;
  color: #757575;
  margin: 0 auto;
  text-align: center;
  font-size: 13px;
  padding-top: 15px;
  line-height: 17px;
}

/* Banner */
.banner {
  height: 320px;
  background-image: url("../images/banner/banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner__title {
  color: #fff;
  text-align: center;
  max-width: 500px;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
}

/* Snapdragon */

.snapdragon {
  padding: 130px 0 500px;
  background-image: url("../images/snapdragon-banner/snapdragon-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.snapdragon__inner {
  max-width: 976px;
  width: 100%;
  margin: 0 auto;
}

/* Performance */
.performance {
  padding: 120px 0 200px;
  background-image: url("../images/performance/performance-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.performance__inner {
  max-width: 976px;
  width: 100%;
  margin: 0 auto;
}

.performance__title {
  max-width: 500px;
  width: 100%;
}

.performance__text {
  max-width: 760px;
  width: 100%;
  margin-bottom: 110px;
}

.performance__item {
  width: 270px;
  padding: 16px 0 16px 95px;
  margin-bottom: 32px;
  position: relative;
}

.performance__item-text {
  font-size: 17px;
  color: #fff;
  line-height: 22px;
  margin-bottom: 2px;
}

.performance__item-subtext {
  font-size: 10.5px;
  color: rgba(255,255,255,.6);
  line-height: 14px;
}

.performance__item::before {
  position: absolute;
  content: "";
  width: 75px;
  height: 75px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.icon1::before {
  background-image: url("../images/performance/performance-icon1.png");
}

.icon2::before {
  background-image: url("../images/performance/performance-icon2.png");
}

/* Cooling */
.cooling {
  padding: 120px 0 400px;
  background-image: url("../images/cooling/cooling-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cooling__inner {
  max-width: 976px;
  width: 100%;
  margin: 0 auto;
}

.cooling__title {
  max-width: 800px;
  width: 100%;
}

.cooling__text {
  margin-bottom: 50px;
}

.cooling__items {
  display: flex;
}

.cooling__item {
  padding: 16px;
  border: 1px solid #9a9898;
  border-radius: 10px;
}

.cooling__item-title {
  color: #ff2a2a;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 2px;
}

.cooling__item-text {
  font-size: 10px;
  color: rgba(255,255,255,.6);
  line-height: 14px;
}

.efficiency {
  width: 257px;
  margin-right: 16px;
  height: 97px;
}

.temperature {
  width: 176px;
  height: 111px;
}

/* Battery */
.battery {
  padding: 120px 0 565px;
  background-image: url("../images/battery/battery-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.battery__inner {
  max-width: 976px;
  width: 100%;
  margin: 0 auto;
}

.battery__title {
  max-width: 750px;
  width: 100%;
}

/* Camera banner */
.camera-banner {
  background-image: url("../images/banner/camera-banner-bg.jpg");
}

/* Camera img */
.camera-picture {
  background-color: #000;
}

.camera-picture img {
  max-width: 864px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

/* Triple camera */
.triple-camera {
  padding: 120px 0 850px;
  background-image: url("../images/triple-camera/triple-camera-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.triple-camera__inner {
  max-width: 976px;
  width: 100%;
  margin: 0 auto;
}

.triple-camera__title {
  max-width: 750px;
  width: 100%;
}

.triple-camera__photo-shot,
.triple-camera__zoom {
  position: absolute;
  font-size: 28px;
  line-height: 40px;
  font-weight: 600;
  color: #fff;
  width: 200px;
}

.triple-camera__photo-shot {
  top: 420px;
  right: 200px;
}

.triple-camera__zoom {
  bottom: 105px;
  left: 230px;
}

/* Portrait mode */
.portrait-mode {
  padding: 120px 0 120px;
  background-color: #000;
}

.portrait-mode__inner {
  max-width: 976px;
  width: 100%;
  margin: 0 auto;
}

.portrait-mode__title {
  background-image: linear-gradient(to right,#fff,#fff);
}

.portrait-mode__text {
  margin-bottom: 40px;
  max-width: 800px;
  width: 100%;
}

.portrait-mode__video {
  border-radius: 20px;
}

/* Night photography */
.night-photography {
  padding: 120px 0 850px;
  background-image: url("../images/night-photography/night-photography-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.night-photography__inner {
  max-width: 976px;
  width: 100%;
  margin: 0 auto;
}

.night-photography__title {
  background-image: linear-gradient(to right,#fff,#fff);
}

/* Selfie camera */
.selfie-camera {
  padding: 120px 0 0;
  background-color: #000;
}

.selfie-camera__inner {
  max-width: 976px;
  width: 100%;
  margin: 0 auto;
}

.selfie-camera__title {
  max-width: 620px;
  width: 100%;
}

.selfie-camera__text {
  margin-bottom: 64px;
}

.selfie-camera__img {
  max-width: 976px;
  width: 100%;
  margin-bottom: 90px;
}

.selfie-camera__items {
  display: flex;
  justify-content: space-between;
}

.selfie-camera__item {
  width: 156px;
  height: 113px;
}

.selfie-camera__item-img {
  width: 47px;
  height: 47px;
  margin-bottom: 38px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.selfie-camera__item-title {
  font-size: 18px;
  font-weight: 400;
  color: #757575;
  text-align: center;
}

/* Slow mo */
.slow-mo {
  padding: 120px 0 120px;
  background-color: #000;
}

.slow-mo__inner {
  max-width: 976px;
  width: 100%;
  margin: 0 auto;
}

.slow-mo__title {
  max-width: 850px;
  width: 100%;
}

.slow-mo__text {
  margin-bottom: 40px;
}

.slow-mo__video {
  max-width: 968px;
  width: 100%;
  border-radius: 20px;
}

/* Capture life */
.capture-life {
  padding: 120px 0 110px;
  background-color: #000;
}

.capture-life__inner {
  max-width: 976px;
  width: 100%;
  margin: 0 auto;
}

.capture-life__title {
  max-width: 850px;
  width: 100%;
}

.capture-life__text {
  margin-bottom: 40px;
}

.capture-life__video {
  max-width: 968px;
  width: 100%;
  border-radius: 20px;
}

/* Design banner */
.design-banner {
  background-image: url("../images/banner/design-banner-bg.jpg");
}

/* Popup-camera */
.popup-camera {
  padding: 120px 0 110px;
  background-image: url("../images/popup-camera/popup-camera-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.popup-camera__inner {
  max-width: 976px;
  width: 100%;
  margin: 0 auto;
}

.popup-camera__title {
  max-width: 850px;
  width: 100%;
}

.popup-camera__text {
  margin-bottom: 64px;
}

.popup-camera__item {
  width: 274px;
  padding: 16px;
  border: 1px solid #9a9898;
  border-radius: 10px;
  margin-bottom: 32px;
}

.popup-camera__item-title {
  color: #ff2a2a;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 2px;
  letter-spacing: 1px;
}

.popup-camera__item-text {
  font-size: 10px;
  color: rgba(255,255,255,.6);
  line-height: 14px;
}

/* Display */
.display {
  padding: 120px 0 850px;
  background-image: url("../images/display/display-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.display__inner {
  max-width: 976px;
  width: 100%;
  margin: 0 auto;
}

.display__text {
  margin-bottom: 64px;
}

.display__items {
  display: flex;
  justify-content: space-between;
}

.display__item {
  width: 234px;
  height: 100%;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,.4);
}

.display__item-title {
  color: #fff;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 2px;
  letter-spacing: 1px;
}

.display__item-text {
  font-size: 10px;
  color: rgba(255,255,255,.6);
  line-height: 14px;
}

/* Fingerprint */

.fingerprint {
  padding: 120px 0 540px;
  background-image: url("../images/fingerprint/fingerprint-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fingerprint__inner {
  max-width: 976px;
  width: 100%;
  margin: 0 auto;
}

.fingerprint__text {
  margin-bottom: 64px;
}

.fingerprint__items {
  display: flex;
  flex-wrap: wrap;
}

.fingerprint__item {
  max-width: 368px;
  width: 100%;
  padding: 16px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.fingerprint__item-title {
  color: #fff;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 2px;
  letter-spacing: 1px;
}

.fingerprint__item-text {
  font-size: 10px;
  color: rgba(255,255,255,.6);
  line-height: 14px;
  margin-bottom: 16px;
}

.fingerprint__item-line1 {
  width: 148px;
  height: 5px;
  background: linear-gradient(to right,#5c4d4d,#5a4d4d);
  background: -moz-linear-gradient(to right,#5c4d4d,#5a4d4d);
  margin-bottom: 8px;
}

.fingerprint__item-line2 {
  width: 306px;
  height: 5px;
  background: linear-gradient(to right,red,#3170ff);
  background: -moz-linear-gradient(to right,red,#3170ff);
}

.line30 {
  width: 202px;
}

.line40{
  width: 222px;
}

.line25 {
  width: 118px;
}

/* Rear finish */
.rear-finish {
  padding: 120px 0 800px;
  background-image: url("../images/rear-finish/rear-finish-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.rear-finish__inner {
  max-width: 976px;
  width: 100%;
  margin: 0 auto;
}

.rear-finish__title {
  background-image: linear-gradient(to right,#fff,#fff);
}

/* Features banner */
.features-banner {
  background-image: url("../images/banner/features-banner-bg.jpg");
}

.features-banner__title {
  max-width: 350px;
}

/* NFC */
.nfc {
  padding: 290px 0 400px;
  background-image: url("../images/nfc/nfc-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nfc__inner {
  max-width: 600px;
  width: 100%;
  margin-left: auto;
}

/* Characteristics */
.characteristics {
  padding-top: 60px;
  background-color: #000;
}

.characteristics__items {
  display: flex;
  justify-content: space-between;
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
}

.characteristics__item {
  padding: 32px 10px 10px;
  width: 226px;
  background-color: #101010;
  text-align: center;
}

.characteristics__item-img {
  width: 67px;
  height: 67px;
  margin-bottom: 16px;
}

.characteristics__item-title {
  font-size: 14px;
  line-height: 21px;
  color: #fff;
}

.characteristics__item-text {
  font-size: 10px;
  color: rgba(255,255,255,.6);
  line-height: 15px;
}

/* Slider */
.slider {
  padding: 60px 0 120px;
  background-color: #000;
  position: relative;
}

.slider__inner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 20px;
}

.slider__wrapper {
  display: flex;
  transition: transform .6s ease-out;
}

.dots-inner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 65px;
  max-width: 1200px;
  width: 100%;
  height: 20px;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #888;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color .3s linear;
}

.dot:hover {
  background-color: #fff;
}

/* Specs */
.specs {
  background-image: url("../images/specs/specs-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 228px;
}

.specs__inner {
  height: 100%;
  display: flex;
  margin-right: 120px;
  justify-content: flex-end;
  align-items: center;
}

.specs__link {
  font-size: 25px;
  color: #fff;
  line-height: 36px;
}

/* Info */
.info {
  padding: 60px 0;
  background-color: #000;
}

.info__inner {
  max-width: 976px;
  width: 100%;
  margin: 0 auto;
}

.info__text {
  font-size: 11px;
  color: rgba(255,255,255,.2);
  line-height: 21px;
}

/* In touch */
.in-touch {
  background-color: #f5f5f5;
  padding: 140px 0 40px;
}

.in-touch__inner {
  display: flex;
  justify-content: space-between;
}

.in-touch__cover {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  width: 100%;
  height: 100%;
  align-items: center;
  position: relative;
}

.in-touch__wrapper-title {
  font-size: 17px;
  color: #424242;
  line-height: 18px;
}

.in-touch__wrapper-text {
  font-size: 11px;
  color: #424242;
  line-height: 18px;
}

.in-touch__form {

}

.in-touch__form-input {
  width: 268px;
  height: 40px;
  padding: 0 40px 0 17px;
  border: 1px solid #e0e0e0;
  color: #b0b0b0;
  font-size: 13px;
  outline: none;
}

.in-touch__form-btn {
  position: absolute;
  width: 31px;
  height: 38px;
  border: none;
  background: none;
  right: 1px;
  top: 1px;
  cursor: pointer;
}

.fas {
  font-size: 11px;
  color: #b0b0b0;
}

.in-touch__form-btn:hover .fas {
  color: #616161;
}

.in-touch__social {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
}

.in-touch__social-link {
  width: 20px;
  display: inline-block;
  text-align: center;
}

.fab {
  color: #b0b0b0;
  font-size: 18px;
}

.in-touch__social-link:hover .fab {
  color: #616161;
}

/* Footer */
.footer {
  background: #212121;
}

.footer__top {
  padding: 40px 0;
}

.footer__top-nav {
  display: flex;
}

.footer__top-list {

}

.footer__top-element-title {
  font-size: 13px;
  line-height: 40px;
  font-weight: 600;
  color: #b0b0b0;
}

.footer__top-element {
  width: 200px;
  height: 32px;
  display: flex;
  align-items: center;
}

.footer__top-link {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #b0b0b0;
  width: 150px;
}

.footer-fab {
  font-size: 14px;
  width: 20px;
  text-align: center;
}

.footer__top-link:hover,
.footer__top-link:hover .footer-fab {
  color: #fff;
}

.footer__bottom {
  height: 71px;
  display: flex;
  align-items: center;
  position: relative;
}

.footer__bottom::before {
  position: absolute;
  top: 0;
  content: "";
  height: 1px;
  max-width: 1226px;
  width: 100%;
  background-color: #424242;
}

.footer__bottom-copyright {
  font-size: 13px;
  color: #b0b0b0;
}